* {
  margin: 0;
}

.card-div {
  border: solid black;
  height: 30vw;
  width: 30vw;
  margin: 10px;
}

.shop-card-image-container {
  height: 50%;
}
.shop-card-title {
  height: 10%;
}
.shop-card-price {
  height: 20%;
}
.add-to-cart {
  height: 20%;
}
