* {
    margin: 0;
}

.shop-div {
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.sidebar-div {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-div button {
    margin: 5px;
    background-color: white;
    color: black;
    text-align: left;
}

.sidebar-div button:hover {
    background-color: #cfcfcf;
}
