* {
  margin: 0;
}

.card-div {
  border: solid gainsboro;
  height: auto;
  width: 30vw;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-div img {
    max-width: 23vw;
    max-height: 30vw;
    margin: 15px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-div:hover img {
    opacity: 0.3;
}

.card-div:hover .add-to-cart {
    opacity: 1;
}

.add-to-cart {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
}

.card-div:active {
    background-color: grey;
    transition: .05s ease;
}






