* {
  margin: 0;
}

.card-div {
  border: 1px solid black;
  height: 25vw;
  width: 30vw;
  margin: 10px;
}

.shop-card-image-container {
  border: 1px solid black;
  height: 50%;
}
.shop-card-title {
  border: 1px solid black;
  height: 10%;
}
.shop-card-price {
  border: 1px solid black;
  height: 20%;
}
.add-to-cart {
  border: 1px solid black;
  height: 20%;
}
