* {
    margin: 0;
}

.row1 {
  width: 100vw;
}
.row1-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row1 img {
    width: 50vw;
    height: auto;
    padding: 10px;
}
