.row1 {
  height: 20vh;
  width: 40vw;
  border: 2px solid black;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 7px;
}
#row1-container {
}

#row1-2 {
  margin-left: 5%;
}
#row1-1 {
}
